.plusBtn {
	display: inline-block;
	width: 50px;
	height: 50px;
	position: relative;
	box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	cursor: pointer;
}
.plusBtn span::before,
.plusBtn span::after {
	display: block;
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 84%;
	height: 16%;
	margin: -8% 0 0 -42%;
	background: #009688;
}
.plusBtn span::after {
	transform: rotate(90deg);
}
関連パーツ
